{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Hello, here you can create new test templates and publish tests</h1>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Publish test</h5>
                <p class="card-text">Enter publish data and publish existing test templates as new tests</p>
                <a href="#" class="btn btn-primary">Publish test</a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Edit test templates</h5>
                <p class="card-text">Edit test templates for future tests</p>
                <a href="#" class="btn btn-primary">Edit test templates</a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Edit questionare</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Edit questionare</a>
            </div>
        </div>
    </div>

{% endblock %}
