{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Hello, here you can create new test templates and publish tests</h1>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Preview tests</h5>
                <p class="card-text">Preview tests, create new ones</p>
                <a href="{{ path("test") }}" class="btn btn-primary">Preview test</a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Preview test templates</h5>
                <p class="card-text">Preview test templates create new ones</p>
                <a href="{{ path("test_template") }}" class="btn btn-primary">Preview templates</a>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Edit questionare</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Edit questionare</a>
            </div>
        </div>
    </div>

{% endblock %}
